body {
    background-color: #353e51;
    margin: 0;
    color: white;
    font-family: Arial, serif;
}

.navi {
    margin: 0;
    border: #232f3e solid 20px;
    background-color: #232f3e;
    display: flex;
}

#m_title {
    margin: 0;
    font-size: 75px;
    border: #232f3e solid 20px;
    background-color: #232f3e;
    margin-left: 150px;
}

#set {
    width: 100px;
    height: auto;
    filter: invert(100%);
    position: absolute;
    padding: 10px;
}

#azon {
    width: 350px;
    height: 100px;
    position: absolute;
    right: 20px;
    top: 8%;
    transform: translateY(-50%);
}

#thick_hr {
    margin: 0;
    border: 8px solid #FF9900;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232f3e;
}

.button-link {
    background-color: #232f3e;
    padding: 20px 155px;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.button-link:hover {
    background-color: #18212b;
}

#imgbanner {
    height: 650px;
    width: auto;
}

.basics {
    padding: 30px;
    h1 {
        margin-left: 10px;
        font-size: 50px;
    }
    p {
        margin-left: 30px;
        font-size: 30px;
    }
}

h2 {
    font-size: 75px;
    text-decoration: underline;
}

label {
    font-size: 1.8rem;

    display: block; /* Forces the label to sit directly above the input box */
    margin-bottom: 8px; /* Adds breathing room below the text */
    text-align: center;
    align-content: center;

}



.label_div {
    text-align: center;
    background: #18212b;
    margin: 40px;
    border-radius: 50px;
    border:solid black 1px;
    width:60%;
    justify-self: center;

}

.label_div input[type=submit] {
    width: 320px;
    height: 70px;
    border: solid black 1px;
    border-radius: 14px;
    background: #FF9900;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    margin: 40px 0;
}

.label_div label {
    margin: 20px 0;
    margin-bottom: 5px;
    color: #FF9900;
}

.label_div input[type=text],
.label_div input[type=password],
.label_div input[type=email] {
    margin: 20px 0;
    font-size: 30px;
    margin-top: 0;
    padding: 2px 20px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
}
.label_div input::placeholder{
    color:black;
}

.label_div input:focus{
    outline: none;
}


.label_div select {
    font-size: 35px;
    background: white;
    border: solid black 1px;
    border-radius: 1px;
    padding: 0 20px;
    width:400px;

}
.label_div select:focus {
    outline: none;
}

.label_div option {
}



::-webkit-scrollbar {
    display: none;
}
/*links*/
.label_div a{

    height: 35px;
    border: solid black 1px;
    border-radius: 14px;
    background: #FF9900;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial,sans-serif;
    margin: 40px 0;
    color: black;
    border-top: 20px;
    border-bottom: 20px;
}


/* chatbox styling */
.ai {
    width: 320px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #777777;
    margin-right: 20px;
    border-radius: 20px 20px 0 0;
    border-bottom: 3px solid transparent;
}

.aitop {
    height: 45px;
    background: #df9f1f;
    margin: 0;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
}

#title {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color:black;
}

.aimain label {
    font-size: 0;
    margin: 0;
}

.aimain input {
    border-top: solid black 3px;
    border-left: 0;
    border-right: 0;
    width: 320px;
    height: 40px;
    bottom: 0;
    padding: 0 20px;
    font-size: 18px;
    flex-shrink: 0;
}
.aimain input:focus {
    outline: none;

}

.aimain {
    visibility: hidden;
    width: 100%;
    height: 0;
    background: white;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.watermark {
    position: fixed;
    width: auto;
    justify-self: center;
    pointer-events: none;
}

.watermark h1 {
    font-size: 101px;
    color: #FF990033;
}

