body {
    background-color: #353e51;
    margin: 0;
    color: white;
    font-family: Arial, serif;
}

.navi {
    margin: 0;
    border: #232f3e solid 20px;
    background-color: #232f3e;
    display: flex;
}

#m_title {
    margin: 0;
    font-size: 75px;
    border: #232f3e solid 20px;
    background-color: #232f3e;
    margin-left: 150px;
}

#set {
    width: 100px;
    height: auto;
    filter: invert(100%);
    position: absolute;
    padding: 10px;
}

#azon {
    width: 350px;
    height: 100px;
    position: absolute;
    right: 20px;
    top: 8%;
    transform: translateY(-50%);
}

#thick_hr {
    margin: 0px;
    border: 8px solid #FF9900;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232f3e;
}

.button-link {
    background-color: #232f3e;
    padding: 20px 155px;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.button-link:hover {
    background-color: #18212b;
}

#imgbanner {
    height: 650px;
    width: auto;
}

.basics {
    padding: 30px;
    h1 {
        margin-left: 10px;
        font-size: 50px;
    }
    p {
        margin-left: 30px;
        font-size: 30px;
    }
}

h2 {
    font-size: 75px;
    text-decoration: underline;
}